body {
	font-family: $fontfamily;
	color: $textcolor1;
	font-size: 20px;
	line-height: 1.5em;
}
h1, h2 ,h3, h4 ,h5 ,h6 { 
	color: $color1;  
	line-height: 1.3em;
	margin-top: 1.0em;
	margin-bottom: 0.8em;
}
p {
	margin-top: 0px;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 22px;
}
a {
	img {
		border: none;
	}
	color: $color1;
	text-decoration: none;
}
a:hover {
	color: $color1;
	cursor: pointer;
	text-decoration: underline;
	outline: none;
}
.farbigauszeichnen1 {
    color: $color1;
}

.kleineschrift {
	font-size: 12px;
}