@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/icomoon.eot?9cvx93');
    src:  url('../icomoon/icomoon.eot?9cvx93#iefix') format('embedded-opentype'),
      url('../icomoon/icomoon.woff?9cvx93') format('woff'),
      url('../icomoon/icomoon.ttf?9cvx93') format('truetype'),
      url('../icomoon/icomoon.svg?9cvx93#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important; 
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
  