.printonly {
    display: none;
}
@media print {
    .printonly {
        display: inherit;
    }
    .noprint {
        display: none;
    }
    #maincontainer {
        box-shadow: none;
    }
}