.printonly {
    display: none;
}
@media print {
    .printonly {
        display: inherit;
    }
    .noprint {
        display: none;
    }
    #maincontainer {
        box-shadow: none;
        padding: 0px !important;
        border-radius: 0 !important;
    }
}