@media only screen and (max-width:992px) {
    #maincontainer {
        border-radius: 0px !important;
    }
    .item-page { 
        img {
            &.right, &.left {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
    .item-page, .blog-item {
        figure {
            &.right, &.left, &.full { 
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                img {
                    width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
          img {
            &.right, &.left {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
          }
        }      
    }