$fontfamily: Roboto, Arial, Helvetica, sans-serif;
$fontfamilybold: Roboto-Bold,rial, Helvetica, sans-serif;
$fontfamilysemibold: Roboto-Medium, Arial, Helvetica, sans-serif;
$color1: #a72916;
$grau: #868686; 
$textcolor1:#625f5f;